.number {
  text-align: center;
  width:150px;
  height:150px;
  border: 5px solid grey;
  font-size: 150px;
  font-family: Arial;
  color:white;
  background-color:	#81005E;
  border-radius:0px;
  font-family: sans-serif;
}

.html {
  background-color:grey;
}

.Row-match {
  color: #81005E;

}

.Column-match {
  color: #81005E;
}

.Diognal-match{
  color: #81005E;
}

.highlight {
  background-color:white;
  font-size: 300px;
  width:300px;
  height:300px;
  color:#81005E;
  background-color:#00e5ff;
}
#div1 {
  text-align: center;
  width:150px;
  height:150px;
  border-color: #01FE0C;
  font-size: 150px;
  font-family: Arial;
  margin-left: 330px;
  margin-top: 100px;
}
#div2 {
  text-align: center;
  width:150px;
  height:150px;
  border-color:#01FE0C;
  font-size: 150px;
  font-family: Arial;
  margin-left:495px;
  margin-top: -160px;
  /*font-color:blue;
  /*background-color:yellow;*/
}
#div3 {
  text-align: center;
  width:150px;
  height:150px;
  border-color: #01FE0C;
  font-size: 150px;
  font-family: Arial;
  margin-left: 660px;
  margin-top: -160px;
}
#div4 {
  text-align: center;
  width:150px;
  height:150px;
  border-color: #01FE0C;
  font-size: 150px;
  font-family: Arial;
  margin-left: 330px;
  margin-top:420
}
#div5 {
  text-align: center;
  width:150px;
  height:150px;
  border-color:#01FE0C;
  font-size: 150px;
  font-family: Arial;
  margin-left:495px;
  margin-top: -160px;
  /*font-color:blue;
  /*background-color:yellow;*/
}
#div6 {
  text-align: center;
  width:150px;
  height:150px;
  border-color: #01FE0C;
  font-size: 150px;
  font-family: Arial;
  margin-left: 660px;
  margin-top: -160px;
}
#div7 {
  text-align: center;
  width:150px;
  height:150px;
  border-color: #01FE0C;
  font-size: 150px;
  font-family: Arial;
  margin-left: 330px;
  margin-top: 580;
}
#div8 {
  text-align: center;
  width:150px;
  height:150px;
  border-color:#01FE0C;
  font-size: 150px;
  font-family: Arial;
  margin-left:495px;
  margin-top: -160px;
  /*font-color:blue;
  /*background-color:yellow;*/
}
#div9 {
  text-align: center;
  width:150px;
  height:150px;
  border-color: #01FE0C;
  font-size: 150px;
  font-family: Arial;
  margin-left: 660px;
  margin-top: -160px;
}

#button {
  padding: 30px;
  border-color: green;
  background-color: #01FE0C;
  width: 290px;
  font-size: 30px;
  color: #81005E;
  font-family: Arial;
  margin-left: 850px;
  margin-top: -100px;
}
.space {
  opacity: 0;
}

#message {
  padding : 1em;
  border:5px solid pink;
  width:230px;
  height:150px;
  background-color:#54D6E1;
  margin-top: -400px;
  font-size: 25px;
}
